body {
    text-align: center;
}
.box {
    padding: 10px;
    max-width: 300px;
    margin: 10px auto;
    box-sizing: border-box;
    border: 2px solid black;
}
.red {
    background-color: red;
}
.green {
    background-color: green;
}
.blue {
    background-color: blue;
}